a:hover{
    padding: 2px;
    margin: 2px;
}
*{
    color: #4B3621;
    background-color: #F5F5DC;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding: 20px;
    grid-area: header;
    text-align: center;
   
}

nav{
    grid-area: nav;
    border: 2px solid greenyellow;
    background-color:#000000 ;
}

main{
    grid-area: main;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}

aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
    background-color: #000000;
}

body{
    background:#3a3a3a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: auto;
    grid-template-areas:
    "nav nav nav"
    "header header header"
    ". main ."
    ". aside ."
    " footer footer footer";
}

nav ul {
    display: flex;
    justify-content: space-around;

}
nav a{
    text-decoration: none;
    color: black;
}

nav li {
    list-style: none;
}

h1{
    font-size: 80px;
    margin: 0;
}

.contact{
    background: #454545;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

form{
    display: flex;
    flex-direction: column;
}

input, textarea{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    background: white;
    font-size: 16px;
}

textarea{
    height: 100px;
    resize: none;
}

button{
    background: white;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #ddd;
}

aside a i{
    font-size: 3em;
}
