a:hover{
    padding: 2px;
    margin: 2px;
}
*{
    color: #4B3621;
    background-color: #F5F5DC;
}
header{
    padding: 20px;
    grid-area: header;
    text-align: center;
   
}

nav{
    grid-area: nav;
    border: 2px solid greenyellow;
    background-color:#000000 ;
}

main{
    grid-area: main;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}

aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
    background-color: #000000;
}

body{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas:
    "nav nav nav"
    "header header header"
    "main main main"
    "aside aside aside"
    " footer footer footer";
}

nav ul {
    display: flex;
    justify-content: space-around;

}
nav a{
    text-decoration: none;
    color: black;
}

nav li {
    list-style: none;
}

h1{
    font-size: 80px;
    margin: 0;
}

aside a i{
    font-size: 3em;
}

main h2{
    border: 2px solid black;
}
main p{
    border: 2px solid black;
}



